$mediaWidth:1200px;
$mediaHeight:1024px;
$col-width:100%/12;
$colPadding:5%;


$mobile-device-end:"(max-width: 639px)";
$tablet-device-start:"(min-width: 640px)";
 $tablet-device-end: "(max-width:959px)";
$desktop-device-start:"(min-width: 960px)";
$desktop-device-end:"(max-width:1199px)";
$desktop-large-device-start:"(min-width: 1200px)";
$mobile: "screen and " $mobile-device-end;
$tablet: "screen and "$tablet-device-start and $tablet-device-end;
$desktop: "screen and "$desktop-device-start and $desktop-device-end;
$desktop-large: "screen and "$desktop-large-device-start;

*{
  box-sizing: border-box;
}

html, body, ul, p {
  margin: 0;
  padding: 0;
}
body{
  color: black;
  font-family: "Space Mono", sans-serif;
  background-color: #ff00ff;
}




[class*='col-']{
  float:left;
  padding:12px;
}

@for $cols from 0 through 12 {
  .col-#{$cols} {
    flex-basis:$col-width*$cols;
    @if $cols == 0 {display: none}
  }
}


@media #{$mobile} {

  @for $cols from 0 through 12 {
    .col-s-#{$cols}{
      flex-basis:$col-width*$cols;
      @if $cols == 0 {display: none}
    }
  }
}

@media #{$tablet} {

  @for $cols from 0 through 12 {
    .col-m-#{$cols}{
      flex-basis:$col-width*$cols;
      @if $cols == 0 {display: none}
    }
  }
}

@media #{$desktop} {
  @for $cols from 0 through 12 {
    .col-l-#{$cols}{
      flex-basis:$col-width*$cols;
      @if $cols == 0 {display: none}
    }
  }
}

@media #{$desktop-large} {
  @for $cols from 0 through 12 {
    .col-xl-#{$cols}{
      flex-basis:$col-width*$cols;
      @if $cols == 0 {display: none}
    }
  }
}

//[class*='row-']{
//  float:left;
//  padding:12px;
//}
//
//@for $cols from 0 through 12{
//  .row-#{$cols} {
//    flex-basis:$col-width*$cols;
//  }
//}
//
//
//@media #{$mobile} {
//
//  @for $cols from 0 through 12 {
//    .row-s-#{$cols}{
//      width:$col-width*$cols;
//    }
//  }
//}
//
//@media #{$tablet} {
//
//  @for $cols from 0 through 12 {
//    .row-m-#{$cols}{
//      width:$col-width*$cols;
//    }
//  }
//}
//
//@media #{$desktop} {
//  @for $cols from 0 through 12{
//    .row-l-#{$cols}{
//      width:$col-width*$cols;
//    }
//  }
//}
//
//@media #{$desktop-large}{
//  @for $cols from 0 through 12{
//    .row-xl-#{$cols}{
//      width:$col-width*$cols;
//    }
//  }
//}