@import "gallery-header";
@import "gallery-navigation";
@import "gallery-section";
@import "grid";
@import "gallery-footer";
@import "mixins";
@import "reset";

.app-image-gallery {
  margin: 0 auto;
  max-width: 700px;
  transition: all 1s ease;
}

.gallery {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

@media screen and #{$tablet-device-end} {
  .gallery {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
  }
}
